@media only screen and (min-width: 992px){
     
   
    ul li {
        list-style: none;
        a{
            text-decoration: none;
        }
    }

    .hide-m{
          display: none;
      }
    

    .visibility{
        display: unset; 
        height: 60vh;
        overflow: scroll ;
        
             
     }   

     .filtro{display: none;}

     aside{ 
         h2{
            color:$primary-color;
         }
         .challenges{
            height: 90vh;
            overflow: scroll;
         }

         ul li{
            margin-top: 1rem;
            a::after{
               content: " ";
            }
         }
         ul li a{
            padding-left: 1rem;
            color: rgb(81, 81, 81);
         }

         ul li a:hover{
            color: black;
            //color:$link-hover-color ;
         }
         
         ul li span{
            font-style: italic;
         }
         .active{
            background-color: $primary-color;
            border-radius: 5px;
            a{
               color: white;
            }
            a:hover{
               color: white;
            }
         }
  }
  
  .bg-aside{
    background-color: $aside-bg-color ;
  }

  div.page-map{
    border: solid 1px rgb(199, 198, 198);
    border-radius: 5px;
    width: max-content;
    padding: 1rem;
    margin-left: 3rem;
    h2{
        font-size: 1.5rem;
        text-align: center;
        margin: 0.5rem auto;
        color: white;
        background-color: $primary-color;
        padding: 0.3rem 0.5rem 0.5rem 0.5rem;
        border-radius: 5px;
    }
     ul{padding-left: 0;}
     ul li ul li a {
        padding-left: 10px;
     }
     a{
        color:$primary-color
      }
     a:hover{
        color: $link-hover-color;
    }

    
  }



}