$primary-color:  rgb(47, 34, 48);
$secondary-color: rgb(201, 163, 204);
$link-hover-color: rgb(76, 161, 147);
$aside-bg-color:  rgb(214, 209, 209);
$code-bg-color:rgb(241, 241, 241);
$btn-all-color: rgb(100, 100, 255);
$btn-easy-color: rgb(134, 98, 137);
$btn-medium-color: rgb(95, 68, 96);
$btn-high-color:$primary-color;