* {
  margin: 0;
  padding: 0;
}

.ajuste-top {
  margin-top: 56px;
}

.span-logo {
  color: rgb(201, 163, 204);
}

a.logo {
  color: white !important;
}

.navbar {
  background-color: rgb(47, 34, 48) !important;
}

.visibility {
  display: none;
}

.main-page h1 span {
  font-size: 1rem;
  font-style: italic;
}

i {
  position: fixed;
  color: red;
}

.div-main {
  margin-left: 4%;
}

.btn_copy {
  background-color: rgb(182, 182, 182);
  border: none;
  padding: 0.5rem 1rem;
  color: white;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.centrado-vertical {
  position: fixed;
  top: 15vh;
  z-index: -1;
}

footer {
  background-color: rgb(47, 34, 48);
  color: white;
  text-align: center;
  padding: 1rem 0 0.5rem 0;
  /* position: fixed;
   bottom: 0;*/
}

.parche {
  height: 150px;
}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

@media only screen and (min-width: 992px) {
  ul li {
    list-style: none;
  }
  ul li a {
    text-decoration: none;
  }
  .hide-m {
    display: none;
  }
  .visibility {
    display: unset;
    height: 60vh;
    overflow: scroll;
  }
  .filtro {
    display: none;
  }
  aside h2 {
    color: rgb(47, 34, 48);
  }
  aside .challenges {
    height: 90vh;
    overflow: scroll;
  }
  aside ul li {
    margin-top: 1rem;
  }
  aside ul li a::after {
    content: " ";
  }
  aside ul li a {
    padding-left: 1rem;
    color: rgb(81, 81, 81);
  }
  aside ul li a:hover {
    color: black;
  }
  aside ul li span {
    font-style: italic;
  }
  aside .active {
    background-color: rgb(47, 34, 48);
    border-radius: 5px;
  }
  aside .active a {
    color: white;
  }
  aside .active a:hover {
    color: white;
  }
  .bg-aside {
    background-color: rgb(214, 209, 209);
  }
  div.page-map {
    border: solid 1px rgb(199, 198, 198);
    border-radius: 5px;
    width: -moz-max-content;
    width: max-content;
    padding: 1rem;
    margin-left: 3rem;
  }
  div.page-map h2 {
    font-size: 1.5rem;
    text-align: center;
    margin: 0.5rem auto;
    color: white;
    background-color: rgb(47, 34, 48);
    padding: 0.3rem 0.5rem 0.5rem 0.5rem;
    border-radius: 5px;
  }
  div.page-map ul {
    padding-left: 0;
  }
  div.page-map ul li ul li a {
    padding-left: 10px;
  }
  div.page-map a {
    color: rgb(47, 34, 48);
  }
  div.page-map a:hover {
    color: rgb(76, 161, 147);
  }
}
body.bg-landing-page {
  background-color: rgb(47, 34, 48);
}
body.bg-landing-page p {
  font-size: 1.5rem;
}
body.bg-landing-page footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
}
body.bg-landing-page footer p {
  font-size: 1rem;
}

#easy, #medium, #high {
  background-color: rgb(47, 34, 48);
}
#easy h1, #medium h1, #high h1 {
  margin-top: 80px;
  color: white;
}
#easy a, #medium a, #high a {
  text-decoration: none;
  color: white;
}
#easy nav, #medium nav, #high nav {
  padding: 1rem 0;
}
#easy nav .logo, #medium nav .logo, #high nav .logo {
  padding-left: 4%;
}
#easy nav div, #medium nav div, #high nav div {
  float: left;
}
#easy nav div:first-child, #medium nav div:first-child, #high nav div:first-child {
  width: 40%;
}
#easy nav div:nth-child(2), #medium nav div:nth-child(2), #high nav div:nth-child(2) {
  width: 60%;
}
#easy nav div:nth-child(2) ul, #medium nav div:nth-child(2) ul, #high nav div:nth-child(2) ul {
  width: 100%;
}
#easy nav div:nth-child(2) ul li, #medium nav div:nth-child(2) ul li, #high nav div:nth-child(2) ul li {
  list-style: none;
  float: left;
  width: -moz-min-content;
  width: min-content;
  margin-left: 20px;
}
#easy nav div:nth-child(2) ul li a, #medium nav div:nth-child(2) ul li a, #high nav div:nth-child(2) ul li a {
  color: rgb(169, 167, 167);
}
#easy nav div:nth-child(2) ul li .active-m, #medium nav div:nth-child(2) ul li .active-m, #high nav div:nth-child(2) ul li .active-m {
  color: white;
}
#easy main, #medium main, #high main {
  height: 75vh;
  width: 80vw;
  margin: 0 auto;
}
#easy main div, #medium main div, #high main div {
  text-align: center;
}
#easy main div ul, #medium main div ul, #high main div ul {
  margin: 0;
  padding: 20px 0;
}
#easy main div ul li, #medium main div ul li, #high main div ul li {
  padding-top: 20px;
}
#easy main div ul li a, #medium main div ul li a, #high main div ul li a {
  display: block;
  background-color: rgb(201, 163, 204);
  border-radius: 5px;
}/*# sourceMappingURL=styles.css.map */